
.introducao h2{
    padding-top: 30px;
    padding-bottom: 20px;
    
}

.intro-p{
    max-width: 800px;
    padding-bottom: 30px;
    margin-left: 10px;
    text-align: justify;
    line-height: 1.3;
}

.inicial-img{
    margin-left: 100px;
}

.h2-secundario{
    margin-bottom: 10px;
    margin-top: 10px;
}

.acoes{
    margin-bottom: 50px;
    margin-top: 80px;
}

.h3-acoes{
    margin-bottom: 5px;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 18px;
    color: var(--cor-1);
}

.h4-acoes{
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: 14px;
    color: var(--cor-1);
}
.introducao-tecnico{
    display: flex;
    gap: 10px;
    margin: 0;
}

.evolucao-indicadores {
    margin-bottom: 15px;
    margin-top: 30px;
}

.indicadores-titulo{
    text-align: center;
    margin-bottom: 45px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}

.indicadores-titulo::before{
    position: absolute;
    display: block;
    content: '';
    bottom: -3px;
    border-bottom: 3px dashed var(--cor-1);
    width: 80%;
    height: 1px;
}

.indicadores-titulo h2{
    font-size: 22px;
}

.indicadores-titulo span{
    font-size: 16px;
    font-weight: bold;
}

.avaliacao-geral{
    display: flex;
    gap: 20px;
    align-items: center;
}
.indicador h1{
    font-size: 22px;
    text-transform: uppercase;
    color: var(--cor-1);
    margin-top: 60px;
    margin-bottom: 20px;
}

.avaliacao h3{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--cor-1);
}
.avaliacao img{
    width: 450px;
}

.avaliacao-notas{
    text-align: center;
    position: relative;
}

.av-inicial{
    color: var(--cor-1);
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}
.nota{
    font-weight: bold;
    margin-bottom: 30px;
}

.avaliacao-notas::before{
        position: absolute;
        display: block;
        content: '';
        left: -6px;
        bottom: 25px;
        border-left: 2px solid var(--cor-1);
        width: 1px;
        height: 80%;
    
}

.proximo{
    margin-top: 120px;
}

.proximo img{
   display: block;
   margin: 30px auto;
}